html{
	height:100%;
}
body {
	margin:0;
	position:relative;
	height:100%;
	min-height:100%;
	z-index: 1;
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	width: 1100px;
	margin: 0px auto;
}

header {
	padding-left: 20px;
	text-align: center;
	height: 100px;
}

.menu {
	z-index: 2;
	width: 1100px;
	height: 0px;
	margin: 0px auto;
	text-align: center;
}

.menu ul {
	list-style: none;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.menu>ul {
	background: white;
	position: relative;
	text-align: center;
	margin: -4px;
	padding: 4px 60.5px;
	height: 38px;
}

.menu:after, .menu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
}

.menu>ul>li {
	display: inline-flex;
	background-color: white;
	position: relative;
	margin: -4px;
	/*   border-bottom: 1px solid gray;*/
}

.menu>ul>#menu-button {
	display: none;
}

.menu ul li a {
	display: block;
	text-decoration: none;
}

.menu>ul>li>a {
	font-size: 18px;
	font-weight: bold;
	padding: 13px 69.5px;
	color: black;
	text-transform: uppercase;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
}

.menu>ul>li:hover>a {
	
}

.menu>ul>li>a:hover {
	color: #B40404;
	border-bottom: 1px solid;
}

.menu li.sub::after {
	display: block;
	/*   content: ""; */
	position: absolute;
}

.menu>ul>li.sub::after {
	right: 10px;
	top: 20px;
	border: 5px solid transparent;
	border-top-color: #7a8189;
}

.menu>ul>li:hover::after {
	border-top-color: #ffffff;
}

.menu>ul>li:hover>ul {
	left: 15px;
	top: 45px;
	opacity: 1;
}

.menu.align-right>ul>li:hover>ul {
	left: auto;
	right: 0;
	opacity: 1;
}

.menu ul ul {
	position: absolute;
	left: -9999px;
	top: 60px;
	opacity: 0;
	-webkit-transition: opacity .3s ease, top .25s ease;
	-moz-transition: opacity .3s ease, top .25s ease;
	-ms-transition: opacity .3s ease, top .25s ease;
	-o-transition: opacity .3s ease, top .25s ease;
	transition: opacity .3s ease, top .25s ease;
	z-index: 1000;
}

.menu ul ul ul {
	top: 37px;
	padding-left: 5px;
}

.menu ul ul li {
	position: relative;
}

.menu ul ul li:hover>ul {
	left: 170px;
	top: 0;
	opacity: 1;
}

.menu.align-right ul ul li:hover>ul {
	left: auto;
	right: 170px;
	top: 0;
	opacity: 1;
}

.menu ul ul li a {
	align-content: center;
	width: 134px;
	border-bottom: 1px solid #eeeeee;
	padding: 10px 20px;
	font-size: 15px;
	color: #9ea2a5;
	background: #ffffff;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
}

.menu.align-right ul ul li a {
	text-align: center;
}

.menu ul ul li:hover>a {
	background: #f2f2f2;
	color: #8c9195;
}

.menu ul ul li:last-child>a, .menu ul ul li.last>a {
	filter: alpha(opacity = 70);
	opacity: 0.9;
	-moz-opacity: 0.3;
	border-bottom: 0;
	border-bottom: 0;
}

.menu>ul>li>ul {
	filter: alpha(opacity = 70);
	opacity: 0.9;
	-moz-opacity: 0.3;
	margin: 0;
	padding: 0;
}

.menu>ul>li>ul::after {
	/* 	<!-- content: '';--> */
	filter: alpha(opacity = 70);
	opacity: 0.9;
	-moz-opacity: 0.3;
	border: 6px solid transparent;
	width: 0;
	height: 0;
	border-bottom-color: #ffffff;
	position: absolute;
	top: -12px;
	left: 80px;
}

.menu.align-right>ul>li>ul::after {
	left: auto;
	right: 30px;
}

.menu ul ul li.sub::after {
	border: 4px solid transparent;
	border-left-color: #9ea2a5;
	right: 10px;
	top: 12px;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}

.menu.align-right ul ul li.sub::after {
	border-left-color: transparent;
	border-right-color: #9ea2a5;
	right: auto;
	left: 10px;
}

.menu ul ul li.sub:hover::after {
	border-left-color: #ffffff;
	right: -5px;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.menu.align-right ul ul li.sub:hover::after {
	border-right-color: #ffffff;
	border-left-color: transparent;
	left: -5px;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.anchor_logo {
	float: left;
	width: 300px;
	height: 80px;
}

footer {
	border-top: 1px solid;
	text-align: center;
}

main {
	height: 1100px;
}

.header_Btn {
	float: right;
	margin-right: 110px;
}

.header_Btn a {
	margin: 10px;
	text-decoration: none;
	font-size: 17px;
	color: black;
}

.jbFixed {
	position: fixed;
	top: 4px;
	right: 1px;
}

.liFixed {
	border-bottom: 1px solid gray;
}