<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.AdminDao">
	
	
	<select id="selectOneByEmail" parameterType="string" resultType="admin">
		select * from admin
		where adm_email = #{adm_email}
	</select>

</mapper>