<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.CommentDao">

	<select id="commentChkHSC" parameterType="int" resultType="int">
		select count(*)
		from HomeSitterComment
		where hsr_num = #{hsr_num}
	</select>
	
	<select id="commentChkVSC" parameterType="int" resultType="int">
		select count(*)
		from ViSitSitterComment
		where vsr_num = #{vsr_num}
	</select>
	
	<select id="commentChkPHC" parameterType="int" resultType="int">
		select count(*)
		from PetHotelComment
		where phr_num = #{phr_num}
	</select>
	

	<insert id="insertHSC" parameterType="HomeSitterComment">
		<selectKey order="BEFORE" keyProperty="hsc_num" resultType="int">
			select HomeSitterComment_seq.nextval from dual
		</selectKey>
		insert into HomeSitterComment 
		(hsc_num, hsr_num, hs_num, c_num, hsc_comment, hsc_star, hsc_write_date)
		values (#{hsc_num}, #{hsr_num}, #{hs_num}, #{c_num}, #{hsc_comment}, #{hsc_star}, sysdate )
	</insert>
	
	<insert id="insertVSC" parameterType="ViSitSitterComment">
		<selectKey order="BEFORE" keyProperty="vsc_num" resultType="int">
			select ViSitSitterComment_seq.nextval from dual
		</selectKey>
		insert into ViSitSitterComment 
		(vsc_num, vsr_num, vs_num, c_num, vsc_comment, vsc_star, vsc_write_date)
		values (#{vsc_num}, #{vsr_num}, #{vs_num}, #{c_num}, #{vsc_comment}, #{vsc_star}, sysdate )
	</insert>
	
	<insert id="insertPHC" parameterType="PetHotelComment">
		<selectKey order="BEFORE" keyProperty="phc_num" resultType="int">
			select PetHotelComment_seq.nextval from dual
		</selectKey>
		insert into PetHotelComment 
		(phc_num, phr_num, ph_num, c_num, phc_comment, phc_star, phc_write_date)
		values (#{phc_num}, #{phr_num}, #{ph_num}, #{c_num}, #{phc_comment}, #{phc_star}, sysdate )
	</insert>
	
	<update id="updateHSC" parameterType="HomeSitterComment"></update>
	
	<update id="updateVSC" parameterType="ViSitSitterComment"></update>
	
	<update id="updatePHC" parameterType="PetHotelComment"></update>
	
	
	<delete id="deleteHSC" parameterType="HomeSitterComment"></delete>
	
	<delete id="deleteVSC" parameterType="ViSitSitterComment"></delete>
	
	<delete id="deletePHC"  parameterType="PetHotelComment"></delete>

	
	<select id="selectHSCByHSCnum" parameterType="int" resultType="HomeSitterComment">
		select *
		from HomeSitterComment
		where hsc_num = #{hsc_num}
	</select>
	
	<select id="selectVSCByVSCnum" parameterType="int" resultType="ViSitSitterComment">
		select *
		from ViSitSitterComment
		where vsc_num = #{vsc_num}
	</select>
	
	<select id="selectPHCByPHCnum" parameterType="int" resultType="PetHotelComment">
		select *
		from PetHotelComment
		where phc_num = #{phc_num}
	</select>
	

	
	<insert id="HSCinsertFile" parameterType="map">
		insert into homesitterComment_image
		(hsc_img_num, hsc_num, hsc_img_filename, hsc_img_write_date)
		values (homesittercomment_image_seq.nextval, #{hsc_num}, #{hsc_img_filename}, sysdate)
	</insert>
	
	<insert id="VSCinsertFile" parameterType="map">
		insert into visitsitterComment_image
		(vsc_img_num, vsc_num, vsc_img_filename, vsc_img_write_date)
		values (vistsittercomment_image_seq.nextval, #{vsc_num}, #{vsc_img_filename}, sysdate)
	</insert>
	
	<insert id="PHCinsertFile" parameterType="map">
		insert into petHotelComment_image
		(phc_img_num, phc_num, phc_img_filename, phc_img_write_date)
		values (pethotelcomment_image_seq.nextval, #{phc_num}, #{phc_img_filename}, sysdate)
	</insert>

	
	<select id="getStarHS" parameterType="int" resultType="double">
		select round(avg(hsc_star), 1) as star
		from homesittercomment
		where hs_num = #{hs_num}
	</select>
	
	<select id="getStarVS" parameterType="int" resultType="double">
		select round(avg(vsc_star), 1) as star
		from visitsittercomment
		where vs_num = #{vs_num}
	</select>
	
	<select id="getStarPH" parameterType="int" resultType="double">
		select round(avg(phc_star), 1) as star
		from pethotelcomment
		where ph_num = #{ph_num}
	</select>

</mapper>