<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.CommentDao">

	<insert id="insertHSC" parameterType="HomeSitterComment">
		insert into HomeSitterComment 
		(hsc_num, hsr_num, hs_num, c_num, hsc_comment, hsc_star, hsc_write_date)
		values (homesittercomment_seq.nextval, #{hsr_num}, #{hs_num}, #{c_num}, #{hsc_comment}, #{hsc_star}, sysdate )
	</insert>
	
	<insert id="insertVSC" parameterType="ViSitSitterComment">
		insert into ViSitSitterComment 
		(vsc_num, vsr_num, vs_num, c_num, vsc_comment, vsc_star, vsc_write_date)
		values (visitsittercomment_seq.nextval, #{vsr_num}, #{vs_num}, #{c_num}, #{vsc_comment}, #{vsc_star}, sysdate )
	</insert>
	
	<insert id="insertPHC" parameterType="PetHotelComment">
		insert into PetHotelComment 
		(phc_num, phr_num, ph_num, c_num, phc_comment, phc_star, phc_write_date)
		values (pethotelcomment_seq.nextval, #{vsr_num}, #{vs_num}, #{c_num}, #{vsc_comment}, #{phc_star}, sysdate )
	</insert>
	
	<update id="updateHSC" parameterType="HomeSitterComment"></update>
	
	<update id="updateVSC" parameterType="ViSitSitterComment"></update>
	
	<update id="updatePHC" parameterType="PetHotelComment"></update>
	
	
	<delete id="deleteHSC" parameterType="HomeSitterComment"></delete>
	
	<delete id="deleteVSC" parameterType="ViSitSitterComment"></delete>
	
	<delete id="deletePHC"  parameterType="PetHotelComment"></delete>

	
	<select id="selectHSCByHSCnum" parameterType="int" resultType="HomeSitterComment">
		select *
		from HomeSitterComment
		where hsc_num = #{hsc_num}
	</select>
	
	<select id="selectVSCByVSCnum" parameterType="int" resultType="ViSitSitterComment">
		select *
		from ViSitSitterComment
		where vsc_num = #{vsc_num}
	</select>
	
	<select id="selectPHCByPHCnum" parameterType="int" resultType="PetHotelComment">
		select *
		from PetHotelComment
		where phc_num = #{phc_num}
	</select>


</mapper>