<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.HomeSitterReservationDao">
 
	<insert id="insert" parameterType="homeSitterReservation">
		<selectKey order="BEFORE" keyProperty="hsr_num" resultType="int">
			select homesitterreservation_seq.nextval from dual
		</selectKey>
		insert into homesitterreservation 
		values (#{hsr_num}, #{c_num}, #{hs_num}, #{hsr_chkin}, #{hsr_chkout}, '0', #{hsr_numof_pet}, #{p_num}, #{hsr_totalprice}, #{hsr_duringdays}, #{hsr_purpose},
		 #{hsr_message}, sysdate, #{hsr_pickup_time}, #{hsr_dropoff_time}, #{hsr_priceperday}, #{hsr_priceperpetsize}, #{hsr_priceperdays}, #{hsr_days})
	</insert>

	<update id="update" parameterType="homeSitterReservation">
		update homesitterreservation
		set hsr_chkin = #{hsr_chkin},
		hsr_chkout = #{hsr_chkout}
		where hsr_num = #{hsr_num}
	</update>

	<delete id="delete" parameterType="homeSitterReservation">
		delete from
		homesitterreservation
		where hsr_num = #{hsr_num}
	</delete>
	
	<select id="selectByHsrnum" parameterType="int" resultType="homeSitterReservation">
		select *
		from homesitterreservation
		where hsr_num = #{hsr_num}
	</select>

	<select id="selectByCnum" parameterType="int" resultType="homeSitterReservation">
		select *
		from homesitterreservation
		where c_num = #{c_num}
	</select>
	
	<select id="selectByHSnum" parameterType="int" resultType="map">
	select c.c_name, c.c_contact, hsr.*
	from customer c,
		(select *
		from homesitterreservation
		where hs_num = #{hs_num}
		and hsr_status >= 2) hsr
	where c.c_num = hsr.c_num
	</select>

	<select id="selectAll" resultType="homeSitterReservation">
		select *
		from homesitterreservation
	</select>
	
	<select id="getHSRInfo" parameterType="int" resultType="map">
		select hs.hs_name,  hsr.*
		from homesitter hs,
			(select *
			from homesitterreservation
			where c_num = #{c_num}) hsr
		where hsr.hs_num = hs.hs_num

	</select>
	
	<select id="getStatus0" parameterType="int" resultType="map">
		select c.c_name, hsr.*
		from customer c,
			(select hsr_num, hs_num, c_num, hsr_chkin, hsr_chkout, hsr_numof_pet, hsr_totalprice, hsr_pickup_time, hsr_dropoff_time, hsr_message, hsr_status
			from homesitterreservation
			where hs_num = #{hs_num}
			and hsr_status = 0
			and hsr_chkin>=sysdate)hsr
		where c.c_num = hsr.c_num
	</select>
	
	<select id="getModalHSR" parameterType="int" resultType="map">
		select c.c_name, c.c_contact, hsr.*
		from customer c,
			(select c_num, hsr_num, hs_num, hsr_chkin, hsr_chkout, hsr_pickup_time,
			hsr_dropoff_time, hsr_totalprice, hsr_message, hsr_status, hsr_numof_pet
			from homesitterreservation
			where hsr_num = #{hsr_num}) hsr
		where c.c_num = hsr.c_num
	</select>
	
	<update id="acceptHsr" parameterType="int">
		update HomeSitterReservation
		set hsr_status = 2
		where hsr_num = #{hsr_num}
	</update>
	
	<update id="cancelHsr" parameterType="int">
		update HomeSitterReservation
		set hsr_status = 1
		where hsr_num = #{hsr_num}
	</update>


</mapper>