<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.HomeSitterCommentDao">
	
	<insert id="insert" parameterType="homeSitterComment">
		<selectKey order="BEFORE" keyProperty="hsc_num" resultType="int">
			select HomeSitterComment_seq.nextval from dual
		</selectKey>
		insert
		into HomeSitterComment (phc_num, phr_num, ph_num, c_num, phc_comment, phc_star, phc_write_date, phc_img)
		values (PetHotelComment_seq.nextval, #{phr_num}, #{ph_num}, #{c_num}, #{phc_comment}, #{phc_star}, #{phc_write_date}, #{phc_img})
	</insert>

	<update id="update" parameterType="homeSitterComment">
		update HomeSitterComment
		set phc_comment = #{phc_comment}
		where phc_num = #{phc_num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from HomeSitterComment where phc_num = #{phc_num}
	</delete>
	
	<select id="selectByHsc_num" parameterType="int" resultType="homeSitterComment">
		select * 
		from HomeSitterComment
		where phc_num = #{phc_num}
	</select>
	
	<select id="selectByHs_num" parameterType="int" resultType="hashmap">
		select hsc.c_num, hsc.hsc_comment, hsc.hsc_star,
		hsc.hsc_write_date,hsc.hsc_num, c.c_name, ci.c_filename
		from homesittercomment hsc, homesitter hs ,customer_image ci, customer c
		where hs.hs_num = hsc.hs_num(+)
		and hsc.c_num = c.c_num(+)
		and c.c_num = ci.c_num(+)
		and hs.hs_num = #{hs_num}
 	</select>
	
	<select id="selectAll" parameterType="int" resultType="homeSitterComment">
		select *
		from PetHotelComment
	</select>
	
	<select id="hs_star" parameterType="int" resultType="double">
		 select hs.hs_num, hs.hs_name, round(star,1)
		 from homesitter hs left outer join (select hs_num , avg(hsc_star) star from homesittercomment group by hs_num order by hs_num ) hsc
		 on hs.hs_num=hsc.hs_num
		 where hsc.hs_num = #{hs_num}   		
	</select>
</mapper>