<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.HomeSitterListDao">
	<insert id="insertHsl" parameterType="HomeSitterList">
		<selectKey order="BEFORE" keyProperty="hsl_num" resultType="int">
			select homsitterlist_seq.nextval from dual
		</selectKey>
		insert into homesitterlist (hsl_num,hsl_size,hsl_chkin,hsl_chkout,hsl_service_type,hsl_pet_age)
		values (#{hsl_num},#{hsl_size},#{hsl_chkin},#{hsl_chkout},#{hsl_service_type},#{hsl_pet_age})
	</insert>
	<insert id="insertHslAdd" parameterType="HomeSitterList">
		
	</insert>
	<update id="updateHsl" parameterType="HomeSitterList">
		
	</update>
	<delete id="deleteHsl" parameterType="int">
		
	</delete>
	<select id="selectOnebyHsl_num" parameterType="int" resultType="HomeSitterList">
		
	</select>
	<select id="searchHsl" parameterType="homesitterlist" resultType="homesitterlist"> 
		SELECT * 
		FROM homesitterlist 
		WHERE hsl_size = #{hsl_size} AND hsl_size = #{hsl_size} AND hsl_size = #{hsl_size} AND hsl_size = #{hsl_size} AND hsl_size = #{hsl_size} AND hsl_size = #{hsl_size}
	</select>
	<select id="searchHslbyAddress" parameterType="string" resultType="homesitterlist"> 
		SELECT * 
		FROM (SELECT *
			  FROM homesitterlist 
			  WHERE 1=0 
			  		<if test="hsl_address != null">
			  			OR hsl_address like ('%${hsl_address}%')
			  		</if>			  		
			 order by hsl_num desc)			  
		WHERE hsl_address LIKE '%${hsl_address}%'
	</select>
	<select id="selectAllHsl" parameterType="homesitterlist" resultType="homesitterlist">
	SELECT *
	FROM homesitterlist
	<trim prefix="where" prefixOverrides="AND|OR">
		<if test="hsl_size != null">
			and hsl_size = #{hsl_size}
		</if>
		<if test="hsl_service_type != null">
			and hsl_service_type = #{hsl_service_type}
		</if>
		<if test="hsl_pet_age != null">
			and hsl_pet_age = #{hsl_pet_age}
		</if>
		<if test="hsl_chkin != null">
			and <![CDATA[hsl_chkin >= #{hsl_chkin} and hsl_chkout <= #{hsl_chkout}]]>
		</if>
	</trim>
	</select>
</mapper>