<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.HomeSitterDao">
	<!--  자바메일 : 이메일 인증 -->
	<update id="GetKey" parameterType="map">
		update homesitter set hs_email_key = #{hs_email_key} where hs_email = #{hs_email} 
	</update>
	<update id="alterHsKey" parameterType="map">
		update homesitter set hs_email_key = 'Y' where hs_email = #{hs_email} and hs_email_key = #{hs_email_key}
	</update>
	<insert id="insertHomeSitter" parameterType="map">
<!-- 		<selectKey order="BEFORE" keyProperty="hs_disdate_num" resultType="int"> -->
<!-- 			select homesitterdisabledate_seq.nextval from dual -->
<!-- 		</selectKey> -->
<!-- 		<selectKey order="BEFORE" keyProperty="hs_num, hsl_num, hsd_num" resultType="int"> -->
<!-- 			select homesitter_seq.nextval as hs_num, homesitterlist_seq.nextval as hsl_num, homesitterdisabledate_seq.nextval as hsd_num from dual -->
<!-- 		</selectKey> -->
<!-- 		INSERT ALL  -->
		<selectKey order="BEFORE" keyProperty="hs_num" resultType="int">
			select homesitter_seq.nextval from dual
		</selectKey>
		insert INTO homesitter (hs_num ,hs_name ,hs_sex ,hs_birth ,hs_contact ,hs_address ,hs_d_address ,hs_email ,hs_pass ,hs_pass_chk ,hs_regi_date)		
		VALUES (#{hs_num}, #{hs_name}, #{hs_sex}, #{hs_birth}, #{hs_contact}, #{hs_address}, #{hs_d_address}, #{hs_email}, #{hs_pass}, #{hs_pass_chk}, sysdate)
				
<!-- 		INTO homesitterdisabledate (hsd_num, hs_num, hsd_disabledate) -->
<!-- 		VALUES (#{hsd_num,}, #{hs_num}, #{hsd_disabledate}) -->
		
<!-- 		INTO homesitterlist (hsl_num,hs_num,hsl_title,hsl_comment,hsl_size,hsl_care_place,hsl_yard,hsl_baby,	hsl_family,hsl_service_type,hsl_pet_age,hsl_writedat,hsl_chkin_str_time,hsl_chkin_end_time,hsl_chkout_str_time,hsl_chkout_end_time,hsd_num) -->
<!-- 		VALUES(#{hsl_num}, #{hs_num}, #{hsl_title}, #{hsl_comment}, #{hsl_size}, #{hsl_care_place}, #{hsl_yard}, #{hsl_baby}, #{hsl_family}, #{hsl_service_type}, #{hsl_pet_age}, sysdate, #{hsl_chkin_str_time}, #{hsl_chkin_end_time}, #{hsl_chkout_str_time}, #{hsl_chkout_end_time},#{hsd_num}) -->
		
<!-- 		SELECT * FROM DUAL; -->
<!-- 		INTO homesitterprice (hspr_num, hspr_price, hspr_add_pet_price, hsl_size, hsl_service_type) -->
<!-- 		VALUES (#{hspr_num}, #{hspr_price}, #{hspr_add_pet_price}, #{hsl_size}, #{hsl_service_type}) -->
	</insert>

<!-- 	<insert id="insertHomeSitter" parameterType="homesitter"> -->
<!-- 		<selectKey order="BEFORE" keyProperty="hs_num" resultType="int"> -->
<!-- 			select hs_num_seq.nextval from dual -->
<!-- 		</selectKey> -->
<!-- 		insert into homesitter(hs_name,hs_sex,hs_birth,hs_contact,hs_address,hs_d_address,hs_job,hs_e_address,hs_pass,hs_pass_chk,hs_regi_date) -->
<!-- 		values (#{hs_name}, #{hs_sex}, #{hs_birth}, #{hs_contact}, #{hs_address}, #{hs_d_address}, #{hs_job}, #{hs_e_address}, #{hs_pass}, #{hs_pass_chk}, sysdate ) -->
<!-- 	</insert> -->
	
	<update id="updateHomeSitter" parameterType="homesitter">
		update homesitter 
		set hs_name = #{hs_name},
		    hs_birth = #{hs_birth},
		   	hs_contact = #{hs_contact},
		    hs_address = #{hs_address},
		    hs_d_address = #{hs_d_address},
		    hs_job = #{hs_job},
		    hs_e_address = #{hs_e_address}
		where hs_num = #{hs_num}
	</update>
	
	<delete id="deleteHomeSitter" parameterType="int">
		delete * homesitter where hs_pass = #{hs_pass} 
	</delete>
	
	<select id="selectOneByNum" parameterType="int" resultType="homesitter">
		select * 
		from homesitter
		where hs_num = #{hs_num}
	</select>
	
	<select id="selectOneByEmail" parameterType="string" resultType="homesitter">
		select *
		from homesitter
		where hs_email = #{hs_email}
	</select>
	
	<select id="selectAllHomeSitter" resultType="homesitter">
		select *
		from homesitter
	</select>
	
	<select id="homeSitterIdCheck" parameterType="String" resultType="Integer">
		select count(*) from homesitter where hs_email = #{hs_email}
	</select>
	
</mapper>