<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.HomeSitterListDao">
	<insert id="insertHsl" parameterType="homeSitterList">
		<selectKey order="BEFORE" keyProperty="hsl_num" resultType="int">
			select homsitterlist_seq.nextval from dual
		</selectKey>
		INSERT 		
		INTO homesitterlist (hsl_num,hs_num,hsl_title,hsl_comment,hsl_size,hsl_care_place,hsl_yard,hsl_baby, hsl_family,hsl_service_type,hsl_pet_age,hsl_writedate,hsl_chkin_str_time,hsl_chkin_end_time,hsl_chkout_str_time,hsl_chkout_end_time,hsl_status)
		VALUES(#{hsl_num}, #{hs_num}, #{hsl_title}, #{hsl_comment}, #{hsl_size}, #{hsl_care_place}, #{hsl_yard}, #{hsl_baby}, #{hsl_family}, #{hsl_service_type}, #{hsl_pet_age}, sysdate, #{hsl_chkin_str_time}, #{hsl_chkin_end_time}, #{hsl_chkout_str_time}, #{hsl_chkout_end_time}, 0)
	</insert>
	
	<insert id="insertHomeSitterList" parameterType="homeSitterList">
		<selectKey order="BEFORE" keyProperty="hsl_num" resultType="int">
			select homsitterlist_seq.nextval   from dual
		</selectKey>
		INSERT 		
		INTO homesitterlist (hsl_num,hs_num,hsl_title,hsl_comment,hsl_size,hsl_care_place,hsl_yard,hsl_baby, hsl_family,hsl_service_type,hsl_pet_age,hsl_writedate,hsl_chkin_str_time,hsl_chkin_end_time,hsl_chkout_str_time,hsl_chkout_end_time,hsl_status)
		VALUES(#{hsl_num}, #{hs_num}, #{hsl_title}, #{hsl_comment}, #{hsl_size}, #{hsl_care_place}, #{hsl_yard}, #{hsl_baby}, #{hsl_family}, #{hsl_service_type}, #{hsl_pet_age}, sysdate, #{hsl_chkin_str_time}, #{hsl_chkin_end_time}, #{hsl_chkout_str_time}, #{hsl_chkout_end_time},0)

	</insert>
	<update id="updateDisDates" parameterType="map">
		update homesitterlist
		set hsl_disdates = #{hsl_disdates}
		where hsl_num = #{hsl_num}
		
	</update>
	<!--예약불가일자 받기 -->
	<insert id="insertDisdates" parameterType="map">		
		INSERT 
		INTO homesitterdisabledate (hsl_num, hsd_num, hsd_disabledate)
		VALUES  (#{hsl_num}, homesitterdisabledate_seq.nextval, #{hsd_disabledate} )
	</insert>
	
	<select id="selectDisdates" parameterType="int" resultType="string">
		select trim(hsd.hsd_disabledate), hsl.hsl_num
        from homesitterlist hsl, homesitterdisabledate hsd
        where hsd.hsl_num = #{hsl_num}
	</select>
	
	<update id="updateAddressHsl" parameterType="homeSitterList">
		update homesitterlist
		set hsl_address = #{hsl_address},
			hsl_d_address = #{hsl_d_address}
		where hs_num = #{hs_num} 	
	</update>
	
	<update id="updateHsl" parameterType="homeSitterList">
		update homesitterlist
		set hsl_title = #{hsl_title},
			hsl_comment = #{hsl_comment},
			hsl_size = #{hsl_size},
			hsl_care_place = #{hsl_care_place},
			hsl_yard = #{hsl_yard},
			hsl_baby = #{hsl_baby},
			hsl_family = #{hsl_family},
			hsl_service_type = #{hsl_service_type},
			hsl_pet_age = #{hsl_pet_age},
			hsl_writedate = sysdate,
			hsl_chkin_str_time = #{hsl_chkin_str_time},
			hsl_chkin_end_time = #{hsl_chkin_end_time},
			hsl_chkout_str_time = #{hsl_hsl_chkout_str_timebaby},
			hsl_chkout_end_time = #{hsl_chkout_end_time},
			hsl_status = '1'
		where hsl_status = 0
		and hsl_num =#{hsl_num}
		and hs_num = #{hs_num}
	</update>
	
	<select id="selectOnebyHsl_num" parameterType="int" resultType="hashmap">
		select * from homesitterlist where hsl_num = #{HSL_NUM}
	</select>	

	
	<!--  가격 가져오기 -->
	<select id="selectHslPrice" resultType="map" parameterType="string">
		select hsl.hsl_size, hsp.hspr_add_pet_price, hsp.hspr_price from homesitterlist hsl, homesitterprice hsp 
		where hsl.hsl_size like ('%${hsl_size}%') 
		and hsp.hsl_size like ('%${hsl_size}%') 
		and hsp.hsl_service_type like ('%${hsl_service_type}%')
		and hsl.hsl_service_type like ('%${hsl_service_type}%')
	</select>


<!-- 홈시터 게시글 검색 리스트 가져오기 -->
	<select id="selectAllHsl" resultMap="hslsMap">
		select *
        from homesitter hs,
            (select hs_num, hsl_num,  hsl_service_type, hsl_size, hsl_pet_age from homesitterlist) hsli,
            (select hsl.hsl_num, hsp.hspr_add_pet_price, hsp.hsl_size, hsp.hspr_price, hsp.hsl_service_type from homesitterlist hsl, homesitterprice hsp
            <trim prefix="where" prefixOverrides="AND|OR">           		
            		hsp.hsl_size = hsl.hsl_size(+)
	            <if test="hsl.hsl_service_type != null">
					AND hsp.hsl_size like ('%${hsl.hsl_size}%')
				</if>
				<if test="hsl.hsl_service_type != null">
	            	AND hsl.hsl_size like ('%${hsl.hsl_size}%') 
	            </if>	
	            <if test="hsl.hsl_service_type != null">
					AND hsp.hsl_service_type like ('%${hsl.hsl_service_type}%')
				</if>
				<if test="hsl.hsl_service_type != null">
					AND hsl.hsl_service_type like ('%${hsl.hsl_service_type}%')
				</if>
            </trim>
            ) hsp,
            (select hs_num, count(hs_num) as hsc_cmt_count, round(avg(hsc_star),1) as hs_avgStar from homesittercomment group by hs_num) hsc,
            (select hsr_chkin, hsr_chkout, hs_num from homesitterreservation) hsr
		<trim prefix="where" prefixOverrides="AND|OR">
			 AND hs.hs_num = hsr.hs_num(+)
			  AND hsli.hsl_num = hsp.hsl_num(+)
	          AND hs.hs_num = hsli.hs_num(+)
	          AND hs.hs_num = hsc.hs_num(+)
	          AND hs.hs_num = hsr.hs_num(+)
			<if test="hsl.hsl_size != null" >
				AND hsli.hsl_size like ('%${hsl.hsl_size}%')
			</if>
			<if test="hsl.hsl_service_type != null">
				AND hsli.hsl_service_type like ('%${hsl.hsl_service_type}%')
			</if>
			<if test="hsl.hsl_chkin != ''">
				AND  <![CDATA[hsr.hsr_chkin >= #{hsl.hsl_chkin}]]>
			</if>
			<if test="hsl.hsl_chkout != ''">
				AND <![CDATA[hsr.hsr_chkout <= #{hsl.hsl_chkout}]]>
			</if>
			<if test="hsl.hs_address != null"> 
				and hs.hs_address in (select hs_address from homesitter where
				<foreach collection="list" item="item" separator="or">
					hs_address like ('%${item}%')
				</foreach>
				)
			</if>
		</trim>
		order by hs.hs_num	
	</select>
	
<!-- 홈시터 게시글 목록 가져오기 -->	
	<select id="selectHsls" resultMap="hslsMap">
		select 
			hs.hs_num,hs_name,hs_address,hs_d_address,hsl.hsl_num,hsl_title,hsl_size,hsl_service_type,hsc_cmt_count,hs_avgstar,hsr_chkin,hsr_chkout

        from homesitter hs,
              homesitterlist hsl,
             (select hs_num, count(hs_num) as hsc_cmt_count, round(avg(hsc_star),1) as hs_avgStar from homesittercomment group by hs_num) hsc,
             (select hsr_chkin, hsr_chkout, hs_num from homesitterreservation) hsr
        where hs.hs_num = hsl.hs_num(+)
        and   hs.hs_num = hsc.hs_num(+)
        and   hs.hs_num = hsr.hs_num(+)
        order by hs.hs_num
	</select>
	
	<resultMap type="map" id="hslsMap">
		<result column="hs_num" property="HS_NUM"/>
		<result column="hs_name" property="HS_NAME"/>
		<result column="hs_address" property="HS_ADDRESS"/>
		<result column="hs_d_address" property="HS_D_ADDRESS"/>
		<result column="hsl_num" property="HSL_NUM"/>
		<result column="hsl_title" property="HSL_TITLE"/>
		<result column="hsl_size" property="HSL_SIZE"/>
		<result column="hsl_service_type" property="HSL_SERVICE_TYPE"/>
		<result column="hsc_cmt_count" property="HSC_CMT_COUNT"/>
		<result column="hs_avgstar" property="HS_AVGSTAR"/>
		<result column="hsr_chkin" property="HSR_CHKIN"/>
		<result column="hsr_chkout" property="HSR_CHKOUT"/>
		<collection property="imgList" column="HSL_NUM" javaType="java.util.ArrayList" ofType="string"  select="selectFileList"></collection>	
	</resultMap>
	<resultMap type="map" id="hslsImage">
		<result column="hsl_num" property="HSL_NUM"/>
		<result column="hsl_img_filename" property="HSL_IMG_FILENAME"/>
		<result column="hsl_img_num" property="HSL_IMG_NUM"/>
	</resultMap>



	
	
		<!-- 모든 홈시터 가져오기 -->
	<select id="selectHsl" resultType="map" parameterType="int">
		SELECT * 
		FROM homesitterlist hsli LEFT OUTER JOIN homesitter hs ON hsli.hs_num = hs.hs_num
		LEFT OUTER JOIN homesitterlist_image hsi ON hsli.hsl_num = hsi.hsl_num
		where hsli.hsl_num = #{hsl_num}
	</select>
		
	<select id="selectallHsl" resultType="hashmap">
		select *
        from homesitter hs,
             (select hs_num, hsl_num, hsl_service_type, hsl_size, hsl_pet_age from homesitterlist) hsl,
             (select hs_num, count(hs_num) as hsc_cmt_count, round(avg(hsc_star),1) as hs_avgStar from homesittercomment group by hs_num) hsc
        where hs.hs_num = hsl.hs_num(+)
        and   hs.hs_num = hsc.hs_num(+)
        order by hs.hs_num		
	</select>

	
	<!-- 게시글용 파일 올리기 -->
	<insert id="insertFile" parameterType="map">		
		insert into homesitterlist_image (hsl_img_num, hsl_num,hsl_img_filename,hsl_img_write_date )
		values (homesitterlist_image_seq.nextval,#{hsl_num},#{hsl_img_filename},sysdate)
	</insert>
	
	<!-- 게시글용 파일 가져오기 -->
	<select id="selectFileName" parameterType="int" resultType="string">
		select * from homesitterlist_image where hsl_num = #{hsl_num}
	</select>
		
	<select id="selectFileList" parameterType="int" resultType="string">
		select hsl_img_filename
		  from homesitterlist hsl, homesitterlist_image hslI
		 where hsl.hsl_num = hslI.hsl_num(+)
		   and hsl.hsl_num = #{hsl_num}
		<!-- resultType = "hashMap" 으로 하면 list로 간다요 -->
	</select>
	
	<update id="updateFile" parameterType="map">
		update homesitter
		set hs_filename = #{hs_filename}	
		where hs_num = #{hs_num}
	</update>
	
	<!-- 홈시터 삭제시 게시글도 삭제   -->		
	<delete id="deleteHs" parameterType="int">
		delete * from homessitterlist where hs_num = #{hs_num};
	</delete>
	<!-- 홈시터 게시글 삭제시 있는지 없는지 확인 -->
	<select id="countHsl" parameterType="int">
		select count(*) from homesitterlist where hs_num = #{hs_num};
	</select>
</mapper>