<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.Pet_DetailDao">
	
	<insert id="insertPet_DetailDao" parameterType="pet_detail">
		<selectKey order="BEFORE" keyProperty="pd_num" resultType="int">
			select pet_detail_seq.nextval from dual
		</selectKey>
		insert into pet_detail
     	 values (#{pd_num},#{p_num},#{pd_week},#{pd_hour},#{pd_hAdd},sysdate,#{p_name})

	
	</insert>
	
	<insert id="insertPet_DetailDao2" parameterType="pet_Details">
		<selectKey order="BEFORE" keyProperty="pd_num" resultType="int">
			select pet_detail_seq.nextval from dual
		</selectKey>
		insert all
		<foreach collection="p_num" item="item">
			<foreach collection="pd_week" item="item2">
		into pet_detail
		values (pet_details_getSeq ,#{item},
		 		#{item2}, #{pd_hour},#{pd_hAdd},sysdate,#{p_name})
		 	</foreach>
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectByP_Num" parameterType="list" resultType="pet_detail">
		select * from pet_detail
		<trim prefix="where" prefixOverrides="OR">
			<if test="list != null" >
				<foreach collection="list" item="item">
					or p_num =#{item}
				</foreach>
			</if>
		</trim>
	</select>
</mapper>
