<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.Pet_WeekListDao">
	<insert id="insertPet_WeekList" parameterType="pet_weeklist">
		insert into pet_weeklist
		values(#{pd_num},#{pd_week},#{pd_hour},#{pd_hadd},#{pd_date})
	</insert>
</mapper>
