<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.PetHotelCommentDao">
	
	<insert id="insert" parameterType="PetHotelComment">
		insert
		into PetHotelComment (phc_num, phr_num, ph_num, c_num, phc_comment, phc_star, phc_write_date, phc_img)
		values (PetHotelComment_seq.nextval, #{phr_num}, #{ph_num}, #{c_num}, #{phc_comment}, #{phc_star}, #{phc_write_date}, #{phc_img})
	</insert>

	<update id="update" parameterType="PetHotelComment">
		update PetHotelComment
		set phc_comment = #{phc_comment}
		where phc_num = #{phc_num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from PetHotelComment where phc_num = #{phc_num}
	</delete>
	
	<select id="selectByPhc_num" parameterType="int" resultType="PetHotelComment">
		select * 
		from PetHotelComment
		where phc_num = #{phc_num}
	</select>
	
	<select id="selectByPh_num" parameterType="int" resultType="PetHotelComment">
		select *
		from PetHotelComment phc, customer c 
		where phc.c_num = c.c_num(+) 
		and ph_num = #{ph_num}
	</select>
	
	<select id="selectAll" parameterType="int" resultType="PetHotelComment">
		select *
		from PetHotelComment

	</select>
	
	<select id="ph_star">
		select ph.ph_num, ph.ph_name, round(star,1)
		from pethotel ph left outer join(select PetHotelComment, avg(phc_star) star
										from PetHotelComment
										group by ph_num
										order by ph_num )s
		on ph.ph_num=s.ph_num;
		
	</select>
	
	<select id="getPHCbyph_num" parameterType="int" resultType="map">
		select phc.*, c.c_filename, c.c_name
		from pethotelcomment phc,
			(select c.c_num, c.c_name, ci.c_filename
			from customer c,
			customer_image ci
			where c.c_num = ci.c_num(+)) c
		where ph_num = #{ph_num}
		and phc.c_num = c.c_num(+)
		order by phc_write_date desc
	</select>
</mapper>