<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.PetHotelDao">

	<insert id="insert" parameterType="PetHotel">
		insert 
		into pethotel (ph_num, ph_p_count, ph_price, ph_name,  ph_address, ph_d_address)
		values (pethotel_seq.nextval, #{ph_p_count},  0 , #{ph_name}, #{ph_address}, #{ph_d_address} )
	</insert>

	<update id="update" parameterType="PetHotel">
		update pethotel
		set ph_name=#{ph_name}
		
		where ph_num = #{ph_num}
	</update>

	<delete id="delete" parameterType="PetHotel">
		delete from pethotel 
		where ph_num = #{ph_num}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="PetHotel">
		select *
		from pethotel
		where ph_num = #{ph_num}
	</select>
	
	<select id="selectAll" resultType="hotel">
		select * 
		from pethotel
	</select>

</mapper>