<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.PetHotelCommentDao">
	
	<insert id="insert" parameterType="PetHotelComment">
		insert
		into PetHotelComment (phc_num, phr_num, ph_num, c_num, phc_comment, phc_star, phc_write_date, phc_img)
		values (PetHotelComment_seq.nextval, #{phr_num}, #{ph_num}, #{c_num}, #{phc_comment}, #{phc_star}, #{phc_write_date}, #{phc_img})
	</insert>

	<update id="update" parameterType="PetHotelComment">
		update PetHotelComment
		set phc_comment = #{phc_comment},
		phc_img = #{phc_img}
		where phc_num = #{phc_num}
	</update>
	
	<delete id="delete" parameterType="PetHotelComment">
		delete from PetHotelComment where phc_num = #{phc_num}
	</delete>
	
	<select id="selectOne" parameterType="int" resultType="PetHotelComment">
		select * 
		from PetHotelComment
		where phc_num = #{phc_num}
	</select>
	
	<select id="selectAll" parameterType="int" resultType="PetHotelComment">
		select *
		from PetHotelComment
	</select>
	
	<select id="ph_star">
		select ph.ph_num, ph.ph_name, round(star,1)
		from pethotel ph left outer join(select PetHotelComment, avg(phc_star) star
										from PetHotelComment
										group by ph_num
										order by ph_num )s
		on ph.ph_num=s.ph_num;
		
	</select>
</mapper>