<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.PetHotelReservationDao">
	<insert id="insert" parameterType="PetHotelReservation">
		insert 
		into PetHotelReservation (phr_num, c_num,p_num, ph_num, phr_chkin, phr_chkout)
		values (pethotelreservation_seq.nextval, #{c_num}, #{p_num}, #{ph_num}, #{phr_chkin}, #{phr_chkout} )
	</insert>

	<update id="update" parameterType="PetHotelReservation">
		update PetHotelReservation
		set phr_chekin=#{phr_chkin},
			phr_chekout=#{phr_chkout},
		where phr_num = #{phr_num}
	</update>

	<delete id="delete" parameterType="PetHotelReservation">
		delete from PetHotelReservation 
		where phr_num = #{phr_num}
	</delete>
	
	
	<select id="selectOneByNum" parameterType="int" resultType="PetHotelReservation">
		select *
		from PetHotelReservation
		where phr_num = #{phr_num}
	</select>
	
	<select id="selectByResInfo" parameterType="PetHotelReservation" resultType="PetHotelReservation">
		select *
		from PetHotelReservation
		where p_num = #{p_num}
		and #{phr_chkin} between phr_chkin and phr_chkout-1
		and #{phr_chkout} between phr_chkin and phr_chkout
	</select>
	
	<select id="selectAll" resultType="PetHotelReservation">
		select * 
		from PetHotelReservation
	</select>
</mapper>