<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.VisitSitterReservationDao">

	<insert id="insert" parameterType="VisitSitterReservation">
	<selectKey order="BEFORE" keyProperty="vsr_num"
		resultType="int">
		select visitsitterreservation_seq.nextval from dual
	</selectKey>
		insert
		into VisitSitterReservation (vsr_num, c_num, vs_num, vsr_chkin, vsr_hour, vsr_hAdd, vsr_status, vsr_totalPrice, vsr_attention, vsr_contents,vsr_day,vsr_count)
		values (#{vsr_num},#{c_num},0, #{vsr_chkin}, #{vsr_hour}, #{vsr_hAdd}, '0', '0' ,'0','0',#{vsr_day},'0')
	</insert>

	<update id="update" parameterType="VisitSitterReservation">
		update VisitSitterReservation
		set 
		vsr_hour = #{vsr_hour},
		vsr_hAdd = #{vsr_hAdd}
		where vsr_chkin = #{vsr_chkin} and vsr_count =#{vsr_count}
	</update>
	
	<update id="update2" parameterType="VisitSitterReservation">
		update VisitSitterReservation
		set 
		vsr_hour = #{vsr_hour},
		vsr_hAdd = #{vsr_hAdd}
		where vsr_day = #{vsr_day} and vsr_count =#{vsr_count}
	</update>

	<update id="updatePrice" >
	BEGIN
	<foreach collection="list" item="a" index="index" separator=";">
		update VisitSitterReservation set vsr_addtotal = #{a.hadds}, VSR_BASICTOTAL = #{a.basic}
		where vsr_num = #{a.num}
	</foreach>;
	END;
<!-- 		update VisitSitterReservation -->
<!-- 		set vsr_basicTotal = #{vsr_basicTotal}, -->
<!-- 			vsr_addTotal = #{vsr_addTotal} -->
<!-- 			where vsr_num = #{vsr_num} -->
	</update>

	<update id="updateTotalPrice" parameterType="string">
	update VisitSitterReservation
	set vsr_totalPrice = #{vsr_totalPrice}
	<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</update>
	
	<update id="updateContents" parameterType="string">
	update VisitSitterReservation
	set vsr_attention = #{vsr_attention}, vsr_contents = #{vsr_contents}
		<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</update>
	
	<update id="updateVsr_Chkin" parameterType="string">
		update VisitSitterReservation
	set vsr_chkin = #{vsr_chkin}
		<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</update>
	
	<update id="updateVsrCount" parameterType="int">
		update VisitSitterReservation
		set vsr_count = vsr_count +1 where c_num = #{c_num}
	</update>
	

	
	<delete id="delete" parameterType="int">
		delete from
		VisitSitterReservation
		where vsr_num = #{vsr_num}
	</delete>

	<delete id="deleteByListVsrNum" parameterType="int">
		delete from
		visitsitterreservation 
		<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</delete>
	
	<delete id="deleteByC_num" parameterType="int">
		delete from visitsitterreservation where c_num = #{c_num}
	</delete>

	<delete id="deleteByVs_num" parameterType="int">
		delete from visitsitterreservation where vs_num = #{vs_num}
	</delete>

	<select id="countVs_num" parameterType="int" resultType="int">
		select count(*) from visitsitterreservation where vs_num = #{vs_num}
	</select>

	<select id="selectByVsrnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
		where vsr_num = #{vsr_num}
	</select>
	
	<select id="selectByVsrnum0_6" parameterType="map" resultType="int">
	select max(vs_num)as a
	from visitsitterreservation
	where vsr_num in (#{a},#{b},#{c},#{d})
	group by vs_num
	</select>
	
	<select id="getVsrInfo7" resultType="map">
	SELECT vsr.vsr_num, c.c_num, pd.petcount, vsr.vsr_chkin, vsr.vsr_hour,vsr.vsr_hadd, c.c_address, c.c_d_address, vsr.vsr_status
	FROM VisitSitterReservation vsr,
		(select vsr_num,c_num, count(*) petCount
			from pet_detail
			group by vsr_num,c_num
			order by vsr_num desc) pd,
		Customer c
	where vsr.vsr_day = 7
	and vsr.vsr_num = pd.vsr_num
	and pd.c_num = c.c_num
	and vsr.vsr_status = 0
	order by vsr.vsr_num desc
</select>

<select id="getVsrInfo0_6" resultType="map">
	select vsr.*, c.c_address, c.c_d_address
	from customer c,
		(select c_num,min(vsr_num)a, max(vsr_num)b, min(vsr_chkin)startday, max(vsr_chkin)endday, vsr_hour, vsr_hadd, vsr_day, vsr_status
		from visitsitterreservation
		where vsr_day between 0 and 6
		having count(*) = 4
		group by c_num ,vsr_count, vsr_hour, vsr_hadd, vsr_day, vsr_status)vsr
	where vsr.c_num = c.c_num
	and vsr.vsr_status = 0
	order by b desc
</select>

<select id="getModalVSRInfo" parameterType="int" resultType="map">
	select vsr.vsr_num, vsr.c_num, vsr.vsr_chkin, vsr.vsr_hour, vsr.vsr_attention,  vsr.vsr_totalprice, vsr.vsr_contents, 
        c.c_name, c.c_address, c.c_d_address, (vsr.vsr_hour+3+vsr.vsr_hadd) vsr_endtime, c.c_contact
from visitsitterReservation vsr,
customer c
where vsr_num = #{vsr_num}
and vsr.c_num = c.c_num
</select>


	<select id="selectByVsrnumbers" parameterType="int" resultType="VisitSitterReservation">
		select * from VisitSitterReservation
		<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</select>


	<select id="selectByCnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
		where c_num = #{c_num}
	</select>
	
	<select id="selectByVSnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
		where vs_num = #{vs_num}
	</select>

	<select id="selectByVsrCount" parameterType="int" resultType="VisitSitterReservation">
		select * from VisitSitterReservation where vsr_count = #{vsr_count}
	</select>

	<select id="selectAddPrice" parameterType="int" resultType="VisitSitterReservation">
		select * from VisitSitterReservation where vsr_count = #{vsr_count} and c_num = #{c_num}
	</select>

	<select id="selectAll" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
	</select>
	
	<select id="getVsrByStatus7" resultType="VisitSitterReservation">
		select * from VisitSitterReservation where vsr_status='0' and vsr_day =7
	</select>
	<select id="getVsrByStatus0_6" resultType="VisitSitterReservation">
		select * from VisitSitterReservation where vsr_status='0' and vsr_day between 0 and 6
	</select>
	
	<select id="getVsrGroup" parameterType="int" resultType="map">
		select vsr_num, vsr_chkin
		from VisitSitterReservation
		where c_num = #{c_num}
		and vsr_count = #{vsr_count}
		and vsr_day between 0 and 6
	</select>
	
	<select id="checkDate7" parameterType="map" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
		where vs_num = #{vs_num}
		and vsr_chkin = #{vsr_chkin}
	</select>
	
	<select id="checkDate0_6" parameterType="map" resultType="VisitSitterReservation">
		select *
		from VisitSitterReservation
		where vs_num = #{vs_num}
		and vsr_chkin in (#{a},#{b},#{c},#{d})
	</select>
	

	
	<update id="acceptVsr7" parameterType="map">
		update VisitSitterReservation
		set vsr_status = 2,
		vs_num = #{vs_num}
		where vsr_num = #{vsr_num}
	</update>
	
	<update id="acceptVsr0_6" parameterType="map">
		update VisitSitterReservation
		set vsr_status = 2,
		vs_num = #{vs_num}
		where vsr_num in (#{a}, #{b},#{c},#{d} )
	</update>
	
	<select id="getMyResDay7" parameterType="int" resultType="map">
		select vsrt.*, c.c_name
		from customer c,
			(select vsr.vsr_num, vsr.c_num, vsr.vsr_status, vsr.vsr_chkin, vsr.vsr_hour, vsr.vsr_hadd
			from visitsitterreservation vsr,
				(select vsr_num,c_num, count(*) petCount
				from pet_detail
				group by vsr_num,c_num
				order by vsr_num desc) pd
			where vsr.vsr_num = pd.vsr_num
			and vsr.vsr_day = 7
			and vsr.vs_num =#{vs_num})vsrt
		where c.c_num = vsrt.c_num
	</select>
	
	<select id="getMyResDay0_6" parameterType="int" resultType="map">
		select c.c_name, vsr.*
		from customer c,
    		(select vsr_num, c_num, vsr_chkin, vsr_hour, vsr_hadd, vsr_status, vsr_day
    		from visitsitterreservation
    		where vs_num = #{vs_num}
    		and vsr_day between 0 and 6) vsr
		where c.c_num = vsr.c_num
	</select>
	
	<select id="selectByP_numVsr_chkin" parameterType="map" resultType="Integer" >
		select count(*) 
		from pet_detail d join visitsitterreservation v 
		on d.vsr_num = v.vsr_num
		and d.p_num = #{p_num} and v.vsr_chkin = #{vsr_chkin}
	</select>
	
	<select id="getVSRInfo" parameterType="int" resultType="map">
	select vs.vs_name,  vsr.*
	from visitsitter vs,
		(select C_NUM, VSR_ATTENTION,VSR_CHKIN,VSR_CONTENTS,VSR_COUNT,VSR_DAY,VSR_HADD,VSR_HOUR,VSR_NUM,VSR_STATUS,VSR_TOTALPRICE,VS_NUM,(vsr_hour+vsr_hadd+3) vsr_end
		from visitsitterreservation
		where c_num = #{c_num}) vsr
	where vsr.vs_num = vs.vs_num(+)
	</select>
	
	<select id="countC_num" parameterType="int" resultType="int">
      select count(*)
      from visitsitterreservation
      where c_num=#{c_num}

   </select>
   
   <select id="getModalC" parameterType="int" resultType="map">
		select vsr.vsr_num, vsr.c_num, vsr.vsr_chkin, vsr.vsr_hour, (vsr.vsr_hadd + vsr.vsr_hour +3) as vsr_ehour, 
				vsr.vsr_attention, vsr.vsr_contents, count.count,
				c.c_name, c.c_contact, c.c_address, c.c_d_address
		from visitsitterreservation vsr,
		customer c,
		(select count(*) count, vsr_num
		from pet_detail
		group by vsr_num
		having vsr_num = #{vsr_num}) count
		where vsr.vsr_num = #{vsr_num}
		and vsr.vsr_num = count.vsr_num(+)
		and vsr.c_num = c.c_num
   </select>
   
   <delete id="cancelVsr" parameterType="int">
		delete from visitsitterreservation
		where vsr_num = #{vsr_num}
   </delete>
</mapper>