<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.what.carezoo.dao.VisitSitterReservationDao">

	<insert id="insert" parameterType="VisitSitterReservation">
	<selectKey order="BEFORE" keyProperty="vsr_num"
		resultType="int">
		select visitsitterreservation_seq.nextval from dual
	</selectKey>
		insert
		into visitsitterreservation (vsr_num, c_num, vs_num, vsr_chkin, vsr_hour, vsr_hAdd, vsr_status, vsr_totalPrice, vsr_attention, vsr_contents)
		values (#{vsr_num},#{c_num},0, #{vsr_chkin}, #{vsr_hour}, #{vsr_hAdd}, '0', '0' ,'0','0')
	</insert>

	<update id="update" parameterType="VisitSitterReservation">
		update visitsitterreservation
		set 
		vsr_hour = #{vsr_hour},
		vsr_hAdd = #{vsr_hAdd}
		where vsr_chkin = #{vsr_chkin}
	</update>

	<update id="updateTotalPrice" parameterType="string">
	update visitsitterreservation
	set vsr_totalPrice = #{vsr_totalPrice}
	<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</update>
	
	<update id="updateContents" parameterType="string">
	update visitsitterreservation
	set vsr_attention = #{vsr_attention}, vsr_contents = #{vsr_contents}
		<trim prefix="where" prefixOverrides="OR">
		<if test="list != null">
			<foreach collection="list" item="item">
				or vsr_num =#{item}
			</foreach>
		</if>
	</trim>
	</update>
	
	<delete id="delete" parameterType="int">
		delete from
		visitsitterreservation
		where vsr_num = #{vsr_num}
	</delete>

	<select id="selectByVsrnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from visitsitterreservation
		where vsr_num = #{vsr_num}
	</select>

	<select id="selectByCnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from visitsitterreservation
		where c_num = #{c_num}
	</select>
	
	<select id="selectByVSnum" parameterType="int" resultType="VisitSitterReservation">
		select *
		from visitsitterreservation
		where vs_num = #{vs_num}
	</select>


	<select id="selectAll" resultType="VisitSitterReservation">
		select *
		from visitsitterreservation
	</select>
</mapper>